@font-face {
  font-family: AvaShenouda;
  src: url(./fonts/Avva_Shenouda.ttf);
}
@font-face {
  font-family: ArialCoptic;
  src: url(./fonts/ArialCoptic.ttf);
}
@font-face {
  font-family: CormorantGaramond;
  src: url(./fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: BookAntiquaRegular;
  src: url(./fonts/BookAntiquaRegular.ttf);
}

@font-face {
  font-family: GentiumBookPlus;
  src: url(./fonts/GentiumBookPlus-Regular.ttf);
}
@font-face {
  font-family: GentiumBookPlus;
  src: url(./fonts/GentiumBookPlus-Italic.ttf);
}
@font-face {
  font-family: GentiumBookPlus;
  src: url(./fonts/GentiumBookPlus-Bold.ttf);
}
@font-face {
  font-family: GentiumBookPlus;
  src: url(./fonts/GentiumBookPlus-BoldItalic.ttf);
}
@font-face {
  font-family: Amiri;
  src: url(./fonts/Amiri-Regular.ttf);
}

@font-face {
  font-family: DCO;
  src: url(./fonts/DCO-Regular.ttf);
}


.root{
  --inline-column-width: 30%;
  --text-column-width: 30%;
}
.Content{
  display:grid;
  grid-template-columns: 99.9vw;
}
.Container {
  display: grid;
  margin-top: 30px;
}

.inlineBtnsContainer{
  display:grid;
  position: fixed;
  top:0px;
  bottom:0px;
  padding-top:3px;
  width: 100%;
  height:100%;
  background-color: ivory;
  justify-items: center;
  overflow-y: scroll;
  z-index: 3;
}


body{
  display: grid;
  grid-template-columns: 100%;
  background-image: url(./assets/PageBackgroundCross.jpg);
  background-size:7%;
  background-repeat: repeat;
  overflow-x: hidden;
  margin: 1px;
  justify-items: center ;
  align-items: center;
}



#sideBarBtns{
  display: grid;
  grid-template-columns: 98%;
  width: fit-content;
  margin-top:3px;
  justify-content: center;
  margin-bottom: 10cqi;
}

.sideBarBtn{
  color:white;
  background-color: #95190c;
  border-radius: 9px;
  border-color: #c93702;
  font-weight: bold !important;
  text-align: center;
  width:38cqi;
  max-width: 400px;
  height: 13cqi;
  max-height: 80px;
  margin-top: 2px !important;
margin-bottom: 2px !important;
}




.homeImg{
align-self: center;
justify-self: center;
margin-top: 5px;
width: 40%;
}


#textDisplayArea{
  max-width: 100%;
  justify-items: stretch;
}


.addLang, .langBtnAdd, .settingsBtn, .colorbtn {
  display: grid;
  background-color: rgba(161, 9, 29, 0.705);
  border-radius: 10px;
  font-family: DCO; 
  width:fit-content;
  min-width: 60px;
  min-height: 50px;
  max-height: 50px;
  padding: 3px !important;
  word-wrap:break-word;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
}

.hiddenElement {
  display:none !important;
}
.NoActor{
  background: cornsilk;
}
.Row {
  display: grid;
  align-items: start;
  height:fit-content; /*The height must fit the content of the paragraphs*/
  text-align: justify;
  border-radius: 5px;
  justify-self: stretch !important;
  max-width: 99.7vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 2px; /*Tis is what sets the space beween the paragraphs*/
  padding-bottom: 2px; /*Tis is what sets the space beween the paragraphs*/
}

p{
  padding-right:7px;
  padding-left:7px;
  font-stretch: ultra-condensed ;
  align-self: stretch; /*This is what makes the paragraph extend vertically over the height of the row*/
}

.AR,
.CA
{
  direction: rtl !important;
  font-family: Amiri;
  font-weight: 100;
  font-size: 3.4cqi;
  line-height: 1.5em;
}

.AR{
  grid-area: AR;
}

.CA
{
  grid-area: CA;
}

.FR,
.EN
{
 grid-area: FR;
 font-family: DCO;
 font-size: 3cqi;
 line-height: 1.5em;
 font-weight: normal;
}

.COP
{
  grid-area: COP;
  font-family: ArialCoptic;
  font-size: 2.8cqi;
  line-height: 1.5em;
  font-stretch: condensed;
}
.EN{
  grid-area:EN;
  font-family:'Times New Roman', Times, serif;
}

.Title, 
.SubTitle {
  background-color: #786b63 !important;
  color: white;
  border: #9e9894 solid 3pt ;
  font-weight: bold;
  font-size: medium !important;
  text-align: center !important;
}

.inlineBtns{
  display:grid;
  justify-items: center;
  align-self: stretch;
  justify-self: center;
  align-content: center;
  align-items: center;
  margin: 5px 5px;
  overflow: hidden;
  width:97%
}

.inlineBtn {
background-color: #95190c;
height: 60px;
min-width: 150px;
justify-self: center;
border-color: #d44d2b;
border-radius: 9px;
color:white;
}
.btnText{
  font-size: 2cqw !important;
  text-align: center!important;
  border: none !important;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 3cqi;
}

.mainPageBtns{
  background-position: center;
  background-size:cover;
  background-clip: border-box;
  border-radius: 15px;
  border: none !important;
  margin: 5px 2px;
  height: 16vh;
  width: 18vw;
  justify-self: stretch;
  width: 97%;
}
.mainPageBtns>p{
  text-align: center !important;
  color:rgb(255, 255, 255) !important;
  font-size: 12pt !important;
  font-weight: bold !important;
  line-height: 12pt;
}
.credentialsDiv{
  font-style: italic;
  font-size: 8pt;
}

.sign {
  font-size: 13px;
  color: white;
  float: inline-start;

}
.DisplayModePresentation{
grid-template: "FR AR"  "COP COP";
grid-template-columns: 50% 50%;
grid-template-rows: 65% 35%;
background-color: black !important;
height: 98vh;
border-radius: 20px ;
}
.DisplayModePresentation>.COP{
  text-align: center;
  font-size: 5vh;
  line-height: 3rem;
  margin-top: 10px;
}
.DisplayModePresentation>.FR{
  text-align: justify;
  font-size: 5vh;
  line-height: 3rem;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 3px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-right: 10px;

}
.DisplayModePresentation>.AR{
  text-align: justify;
  font-size: 8vh;
  line-height: 3rem;
}

.DisplayModePresentation>.FR,
.DisplayModePresentation>.AR, 
.DisplayModePresentation>.COP{
  background-color: black;
  color:white;
  border-radius: 20px;
}

.Title.DisplayModePresentation,
.SubTitle.DisplayModePresentation
{
  grid-template: "FR AR";
  font-size: 10pt !important;
  align-items: stretch;
  height: 2vh;
  border-style: hidden;
  border-width: 0;
  margin-bottom: 5px;
  background-color: white !important;
}
.Title.DisplayModePresentation>p,
.SubTitle.DisplayModePresentation>p
{
  font-size: 15pt !important;
  height: 10px;
  line-height: 10px;
  padding-top: 2px;
  padding-bottom:2px;
  align-self: center;
  padding: 0px;
  row-gap: 0px;
  color:red;
  background-color: white;
}
.Comments.DisplayModePresentation,
.CommentText.DisplayModePresentation
{
  display: none !important;
}


.Priest,
#PriestColor {
  background-color: #99aecc;
  border-left-color: #003187;
  border-right-color: #003187;
  border-left-width: 7px;
  border-right-width: 7px;
  border-left-style: solid;
  border-right-style: solid;
}
.Diacon,
#DiaconColor {
  background-color: #9eac89;
  border-left-color: #233f01;
  border-right-color: #233f01;
  border-left-width: 7px;
  border-right-width: 7px;
  border-left-style: solid;
  border-right-style: solid;
}
.Assembly,
#AssemblyColor {
  background-color: #f9faf2;
  border-left-color: #f7fda0;
  border-right-color: #f7fda0;
  border-left-width: 7px;
  border-right-width: 7px;
  border-left-style: solid;
  border-right-style: solid;
}

.btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  padding: 3pt;
  font-family: DCO;
}
.colorbtn {
  border-radius: 10px;
  padding: 3pt;
  font-size: 9pt !important;
  max-width: 100px;
  max-height: 90px;
  justify-self: center;
}
.colorbtn >p{
  margin:1px 1px;
}
.showDate {
  color: #5270a3;
  font-weight: bold;
  padding: 7px;

}

/* The sidebar menu */
.sideBar {
  min-height: 100%; /* 100% Full-height */
  width: fit-content;
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0;
  bottom: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y:auto;
  padding-top: 60px; /* Place content 60px from the top */
  padding-left:10px;
  padding-right:10px;
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
  justify-content: center;
}
/*the right sidebar*/
.rightSideBar { 
  right: 0px !important;
  direction: rtl !important;
}
/*the left sidebar*/
.leftSideBar {
  left: 0px !important;
}
/*the text of the titles shown in the right sidebar*/
.sideTitle > a{
  font-style: italic !important;
  color:white;
  font-size: 11pt !important;
  text-align: right !important;
  padding: 8px 8px 3px 3px;
  text-decoration: none;
  font-size: 25px;
  color: #c6c5c5;
  display: block;
  transition: 0.3s;
}
.sideTitle {
  border: solid;
  border-color: rgb(124, 108, 108);
  border-radius: 10px;
  margin-top: 3px;
  width: 98%;
  align-self: stretch;
}


/* When you mouse over the navigation links, change their color */
.sideBar a:hover, .sideTitle a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  background-color: rgb(109, 99, 99);
  color: white;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size:3.5cqi;
  padding: 0px 0px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  width: 3.4cqi;
  height: 3.4cqi;
  border-style: groove;
  text-shadow: #01043f;
  border-width: 3px;
}

/* The button used to open the sidebar */
.openbtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  margin-top: 2px;
  margin: 3px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.label {
  display: inline;
  font: 1rem;
  font-family: DCO;
}
#datePicker {
  display: inline;
  width: 20vw;
  height: 5vw;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background-color: rgb(55, 211, 211);
}

.Comments, 
.CommentText{
  align-content: stretch;
  background-color: rgb(232, 229, 229);
  color: #a2c2fa;
  font-style: italic !important;
  padding-right: 2px 2px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top:0px !important;
  margin-bottom: 0px !important;
}
.CommentText {
  color: #C45911 !important;
}
.settings{
  width:fit-content;
  height: fit-content;
  text-align: center;
  text-justify: center ;
  background-color: rgb(81, 0, 128);
  font-size: 12pt;
  font-weight: bold;
  color:white;
  border-radius: 30px;
  border-style: groove;
  border-width: 3px;
  margin:3px 3px;
  padding: 10px 10px;

}
#btnFractionPrayersContainer{
  margin-top: 30px !important;
  width:95%;
}
.multipleChoicePrayersBtn{
  background-color: rgb(41, 43, 43) !important;
  width: 41vw;
  margin: 2px 2px;
  height: fit-content;
  min-height: 40vh;
  justify-items: center;
  border-radius: 20px;
}
.multipleChoicePrayersBtn >p{
  color:white;
  font-weight: 600;
  font-size: 11pt;
  line-height: 14pt;
  margin:1px 1px;
  border-right: none !important ;
}
.btnsContainer{
  position: relative;
  background-color: beige;
  display: grid !important;
  grid-template-columns: 50% 50% !important;
  justify-content: center !important;
  width: 100%;
  border-radius: 10px;
  align-self: center;
}

.dateDiv{
  display:grid;
  grid-template-columns: 33% 24% 38%;
  margin-bottom: 5px;
  width: 98%;
  align-items: top;
  justify-items: center;
  justify-content: center;
  align-self: stretch;
  justify-self: center;
}
.dateBox{
  display:block;
  background-color: #0000008a !important;
  color:rgb(255, 255, 255);
  height: 55px;
  font-size: 1.5cqi;
  font-style: italic;
  border-style: groove;
  border-color: #422121;
  border-radius: 5px;
  margin-top: 3px;
  align-items: stretch;
  align-self: top;
  justify-self: stretch;
}


.langBtnAdd{
  background-color: red !important;
}

.settingsBtn{
  background-color: green;
  color:white;
  padding: 12pt;
}

.ReadingIntro{
  background-color: darkgoldenrod;
  margin-top: 0px;
 /* border-top: #111 solid 2pt;
  border-bottom: #111 solid 2pt;*/
  border-left: #111 solid 4pt;
  border-right: #111 solid 4pt;
}
.ReadingEnd{
  background-color: burlywood;
  margin-bottom: 20px;
  border-bottom: #111 solid 3pt;

}

.musicalNote.amplifiedText{
  font-size: 25pt;
}

.musicalNote{
  color:  #95190c !important;
  font-weight: bold !important;
  font-size: 4.5cqi !important;
}
.DisplayModePresentation> p>span.musicalNote{
  color:  #95190c !important;
  font-weight: bold !important;
  font-size: 35pt !important;
}

.btnEditing{
  min-width: 20vw !important;
  max-width: 20vw !important;
  max-height: 40px !important;
  margin-bottom: 4px !important;
}
.btnsDiv{
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
}

.AR.amplifiedText,
.CA.amplifiedText{
  font-size:1.3em !important;
}
.FR.amplifiedText{
  font-size:1.3em !important;
}
.COP.amplifiedText{
  font-size:1.2em !important;
}
:lang(ar){
quotes: '"' '"';
}
:lang(fr){
  quotes: "« " " »" ;
}
:lang(en){
  quotes: '"' '"';
}

q{
  font-style: italic;
}   